NEXT_PUBLIC_BACKEND_URL='http://localhost:8091'
NEXT_PUBLIC_BASE_PATH=''
NEXT_PUBLIC_DEFAULT_LANGUAGE=en
# URL of the backend API, it must start with http:// or https://
# Optional frontend subpath, e.g. /minepanel. Requires rebuild
# es, nl or en
